@import "../../variables"

.checkbox_wrapper
    display: flex
    gap: $checkbox-wrapper-gap
    align-items: center

.checkbox
    user-select: none
    width: $checkbox-width
    height: $checkbox-height
    background: $checkbox-bg
    border: $checkbox-border
    position: relative

    display: flex
    align-items: center
    justify-content: center

    border-radius: $checkbox-border-radius

    transition: $checkbox-transition

    &:hover
        cursor: pointer
        box-shadow: $checkbox-hover-shadow

    &_checkmark
        display: none
        justify-content: center
        align-items: center
        font-size: $checkbox-icon-size

.checkbox_active
    background-color: $checkbox-active-bg
    color: $checkbox-active-color

    .checkbox_checkmark
        display: flex
