$padding-2: .125rem
$padding-4: .25rem
$padding-8: .5rem
$padding-16: 1rem
$padding-32: 2rem

$margin-4: .25rem
$margin-8: .5rem
$margin-16: 1rem
$margin-32: 2rem

$borderRadius: 3px

$itemGap-8: .5rem
$itemGap-16: 1rem

$fontSize-12: .75rem
$fontSize-16: 1rem
$fontSize-20: 1.25rem
$fontSize-24: 1.5rem

$color-primary: black
$color-secondary: #595959
$color-shadow: rgba(0, 0, 0, .3)
$color-disabled: #F0F0F0
$color-white: white

$color-success: #518244
$color-error: #D63B3B
$color-info: #5F66E4

$shadow: 5px 5px 10px .5px $color-shadow
$active: 0 0 1px 1px $color-primary

$border: 1px solid $color-secondary

//INPUT 
$input-padding: $padding-8 $padding-16
$input-border: $border
$input-border-radius: $borderRadius
$input-button-padding: $padding-16
$input-button-color: $color-secondary
$input-button-transition: all .3s
$input-button-active-bg: $color-primary
$input-button-active-color: $color-white
$input-wrapper-border: $border
$input-wrapper-focus-shadow: $active

//ACCORDION
$accordion-border: $border
$accordion-border-radius: $borderRadius
$accordion-item-border-bottom: $border
$accordion-header-padding: $padding-16
$accordion-header-color: $color-primary
$accordion-header-transition: background-color .3s
$accordion-header-open-bg: $color-primary
$accordion-header-open-color: $color-white
$accordion-header-hover-bg: $color-primary
$accordion-header-hover-color: $color-white
$accordion-chevron-transform: rotateZ(180deg)
$accordion-chevron-transition: all .3s
$accordion-content-border-top: $border
$accordion-content-padding: $padding-16

//ALERT
$alert-width: 450px
$alert-bottom: 10px
$alert-border-radius: $borderRadius
$alert-padding: $padding-16
$alert-gap: $itemGap-16
$alert-bg: $color-primary
$alert-color: $color-white
$alert-icon-size: 24px
$alert-info-color: $color-info
$alert-error-color: $color-error
$alert-success-color: $color-success

//BUTTON
$button-font-size: .9375rem
$button-min-height: 32px
$button-padding: 0 $padding-8
$button-border-radius: $borderRadius
$button-bg: $color-primary
$button-color: $color-white
$button-border: $border
$button-transition: background .3s
$button-hover-bg: $color-white
$button-hover-color: $color-primary
$button-hover-border: $border
$button-active-bg: $color-secondary
$button-disabled-bg: $color-disabled
$button-disabled-color: $color-secondary
$button-disabled-border-color: $color-disabled
$button-contrast-bg: $color-white
$button-contrast-color: $color-primary
$button-contrast-border: $border
$button-contrast-hover-bg: $color-primary
$button-contrast-hover-color: $color-white

//CARD
$card-shadow: $shadow
$card-border-radius: $borderRadius
$card-width: 300px
$card-image-border-radius: $borderRadius $borderRadius 0 0
$card-image-bg: $color-primary
$card-image-min-height: 200px
$card-body-border-radius: 0 0 $borderRadius $borderRadius
$card-body-padding: $padding-16
$card-body-gap: $itemGap-16

//CHECKBOX
$checkbox-wrapper-gap: $itemGap-8
$checkbox-width: 16px
$checkbox-height: 16px
$checkbox-bg: $color-white
$checkbox-border: $border
$checkbox-border-radius: $borderRadius
$checkbox-transition: background .3s
$checkbox-hover-shadow: $active
$checkbox-icon-size: .75rem
$checkbox-active-bg: $color-primary
$checkbox-active-color: $color-white

//MODAL
$modal-border-radius: $borderRadius
$modal-shadow: $shadow
$modal-row-bg: $color-white
$modal-row-padding: $padding-16
$modal-row-border-bottom: 1px solid $color-shadow
$modal-row-first-child-border-radius: $borderRadius $borderRadius 0 0
$modal-row-last-child-border-radius: 0 0 $borderRadius $borderRadius
$modal-controls-gap: $itemGap-16
$modal-controls-jc: flex-end
$modal-content-padding-bottom: $padding-32

//PROGRESS
$progress-wrapper-height: 32px
$progress-wrapper-gap: $itemGap-16
$progress-success-stroke-bg: $color-success
$progress-success-icon: $color-success
$progress-error-stroke-bg: $color-error
$progress-error-icon: $color-error
$progress-stroke-bg: $color-primary
$progress-border-radius: $borderRadius
$progress-bg: $color-disabled
