@import "../../variables"
    
.card
    box-shadow: $card-shadow
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    border-radius: $card-border-radius

    margin-inline: auto

    width: $card-width

    &_image
        border-radius: $card-image-border-radius
        background-color: $card-image-bg
        width: 100%
        min-height: $card-image-min-height

    &_body
        border-radius: $card-body-border-radius
        padding: $card-body-padding
        display: flex
        flex-direction: column
        gap: $card-body-gap