@import "../../variables"

.modal
    position: fixed
    display: flex
    flex-direction: column
    border-radius: $modal-border-radius
    box-shadow: $modal-shadow

    left: 50%
    top: 50%
    transform: translate(-50%, -50%)

.modal_row
    background: $modal-row-bg
    padding: $modal-row-padding
    border-bottom: $modal-row-border-bottom

    display: flex
    justify-content: flex-start

    &:first-child
        border-radius: $modal-row-first-child-border-radius

    &:last-child
        border-radius: $modal-row-last-child-border-radius
        border: none

.modal_controls
    gap: $modal-controls-gap
    justify-content: $modal-controls-jc

.modal_title
    justify-content: space-between
    align-items: center

.modal_content
    padding-bottom: $modal-content-padding-bottom
